<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title"><%=@developer.name %>さんの近況</h2>
  </div>
  <div class="panel-body activity-body-bg">
    <%# binding.pry %>
    <% if !@activitys.present? %>
      <span class="result-empty">まだ何もございません。</span>
    <% else %>
      <div id="user-activity">
        <% @activitys.each do |activity| %>
          <%= render partial: 'developers/dev_activity', locals: { activity: activity } %>
        <% end %>
        <%= paginate(@activitys) %>
      </div>
    <% end %>

  </div>
</div>

<!--=================
  拡大イメージ（モーダルダイアログ）
=====================-->
<div class="modal fade" id="modal-img-dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
        </button>
        <h4 class="modal-title"><span id="modal-app-title"></span></h4>
        <div id="modal-img-disp">
          <img src="#" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
