<floatbar>
  <div class="sticky-menu-bar">
    <div class="btn-toolbar">
      <div class="btn-group btn-group-justified">
        <%= link_to developer_path(@developer), class:"btn btn-default" do %>
          <span class="glyphicon glyphicon-book">登録アプリ</span>
        <% end %>
        <%= link_to dev_comment_show_path(dev_id: @developer.id), class:"btn btn-default" do %>
          <span class="glyphicon glyphicon-comment">開発者コメ</span>
        <% end %>
        <%= link_to "#", class:"btn btn-default" do %>
          <span class="glyphicon glyphicon-education">アクティビティ</span>
        <% end %>
      </div>
    </div>
  </div>
</floatbar>
