<!--========================
ヘッダー表示
==========================-->
<%= render 'layouts/header' %>

<!--========================
ボディ
==========================-->
<div class="container">        <!-- 全体を囲むコンテナ -->
  <div class="row">
    <div class="col-xs-12 col-sm-1"></div>
    <div class="col-xs-12 col-sm-10">
      <h3>デベロッパーサインアップ</h3>
      <!--========================
      メールアドレスで登録
      ==========================-->
      <%= render 'dev_signup_form' %>
    </div>
    <div class="col-xs-12 col-sm-1"></div>
  </div>
</div>        <!-- 全体を囲むコンテナ -->

<!--=========================
余白
==========================-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center" style="height:50px;">
  
    </div>
  </div>
</div>

<!--========================
フッダー表示
==========================-->
<%= render 'layouts/footer' %>

<!--========================
バックスクロールボタン表示
==========================-->
<%= render 'layouts/back_scroll_btn' %>