<div id="search-box">
  
  <div class="box-center">
    <table border=0>
      <tr>
        <td width=100%>
          <%= form_tag controller:'top_pages', action:'result' do %>
          <%= hidden_field_tag :order, 6 %>
          <%= text_field_tag :search_word, nil, class: "form-control", autofocus: true %>
        </td>
        <td>
          <%= submit_tag "　検　索　", class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <p></p>
          <button class="search-box-close btn btn-danger">キャンセル</button>
        </td>
      </tr>
    </table>
  </div>

</div>