<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">新着のつぶやき一覧</h2>
  </div>
  <div class="panel-body comment-body-bg">
    
    <div id="user-comments">
      <% @comments.each do |comment| %>
        <%= render partial: 'user_comments/user_comment', locals: { comment: comment } %>
      <% end %>
      <%= paginate(@comments) %>
      <%#= paginate(@products, {:window => 0, :outer_window => 0}) %>
    </div>
  </div>
</div>