<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title glyphicon glyphicon-user">SNSでログイン</h2>
  </div>
  
  <div class="panel-body">
    
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="sns-btn">
          <%= link_to '/auth/twitter', class:"btn btn-block btn-lg btn-social btn-twitter" do %>
            <span class="fa fa-twitter"></span><span class="login-btn">Twitter でログイン</span>
          <% end %>
          <p></p>
        </div>
        <div class="sns-btn">
          <%= link_to '/auth/facebook', class:"btn btn-block btn-lg btn-social btn-facebook" do %>
            <span class="fa fa-facebook"></span><span class="login-btn">Facebookでログイン</span>
          <% end %>
          <p></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="sns-btn">
          <%= link_to '/auth/google_oauth2', class:"btn btn-block btn-lg btn-social btn-google" do %>
            <span class="fa fa-google-plus"></span><span class="login-btn">Google+でログイン</span>
          <% end %>
          <p></p>
        </div>
      </div>
    </div>
    
  </div>
  <div class="panel-footer">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    ユーザーに許可なくソーシャルネットワークに投稿する事はございません。<br class="hidden-xs">
    なお、すでにアカウントをお持ちのユーザーが別のSNSでログインすると新規登録
    となりますので、ご注意ください。
  </div>
</div>