<div class="activity-comment-disp">
  <div class="well">
  
    <!--コメント-->
    <span class="activity-comment">
      <%#= simple_format(h(comment.comment)) %>
      <%= auto_link(simple_format(h(comment.comment)), link = :urls, href_options = {:target => '_blank'})  %>
    </span>
    <p></p>
    
    <!--添付イメージ-->
    <% if comment.image? %>
      <%# binding.pry %>
      <div class="activity-comment-img">
        <%= link_to "#modal-img-dialog",data: {
                                        toggle: "modal",
                                        title: comment.product.appname,
                                        imgurl: comment.image.url
                                        } do %>
          <%= image_tag comment.image.url %>
        <% end %>
      </div>
    <% end %>
  
  </div>
</div>