<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title"><%=@user.nickname %>さんの近況</h2>
  </div>
  <div class="panel-body comment-body-bg">

    <% if !@activitys.present? %>
      <span class="result-empty">まだ何もございません。</span>
    <% else %>
      <div id="user-activity">
        <% @activitys.each do |activity| %>
          <%= render partial: 'users/user_activity', locals: { activity: activity } %>
        <% end %>
        <%#= paginate(@activity) %>
      </div>
    <% end %>

  </div>
</div>

