<!--========================
ヘッダー表示
==========================-->
<%= render 'layouts/header' %>

<!--========================
ボディ
==========================-->
<div class="container">        <!-- 全体を囲むコンテナ -->


</div>        <!-- 全体を囲むコンテナ -->

<!--=========================
余白
==========================-->
<div class="row">
  <div class="col-xs-12 col-sm-12 text-center" style="height:50px;">

  </div>
</div>

<!--========================
フッダー表示
==========================-->
<%= render 'layouts/footer' %>

<!--========================
バックスクロールボタン表示
==========================-->
<%= render 'layouts/back_scroll_btn' %>