<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
      </button>
      <h4 class="modal-title"><span class="glyphicon glyphicon-alert"></span> 読み込みエラー</h4>
    </div>
    <div class="modal-body">
      <span class="font-red">
      　未定義のファイルが選択されました。<br class="hidden-xs">
      （アップロードできるファイルタイプ: jpg, jpeg, gif, png, bmp, tiff）
      </span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal"> O K </button>
    </div>
  </div>
</div>

