<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">閉じる</span>
      </button>
      <h4 class="modal-title"><span class="glyphicon glyphicon-alert"></span> ログインして下さい</h4>
    </div>
    <div class="modal-body">
      <span class="font-red">
      　つぶやきを投稿するにはユーザーログインが必要です。
      </span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal"> O K </button>
    </div>
  </div>
</div>

