<div class="panel panel-danger" style="height:450px">
  <div class="panel-heading">
    <h2 class="panel-title glyphicon glyphicon-alert">セッションエラー!</h2>
  </div>
    セッションエラーが発生しました。
  <div class="panel-body">
  </div>
</div>