<div class="footer-comment-bar">
  
  <div class="input-comment has-feedback">
    <p></p>
    <form>
      <table border=0>
        <td>
          <!--擬似ボタン-->
          <div onClick="" class="btn btn-default img-btn-2">
            <span class="glyphicon glyphicon-camera img-btn-icon-2"></span>
          </div>
        </td>
        <td class="td-input">
          <!--<input type="text" class="form-control" placeholder="つぶやいてみましょう！">-->
          <input type="button" class="form-control" value="つぶやいてみましょう！">
          <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
        </td>
      </table>
    </form>
  </div>
  
</div>

<!--========================
コメントボックス表示
==========================-->
<% if user_logged_in? %>
  <div class="modal fade" id="user-comment-box">
    <%= render 'user_comments/user_comment_box' %>
  </div>
<% end %>

<!--===================
 ログインアラート
===================-->
<div class="modal fade" id="alert-login-dialog">
  <%= render 'shared/alert_login_dialog' %>
</div>