<div class="footer-comment-bar">
  
  <div class="input-comment has-feedback">
    <p></p>
    <form>
      <input type="text" class="form-control" placeholder="つぶやいてみる・・・。">
      <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
    </form>
  </div>
  
</div>

<!--========================
コメントボックス表示
==========================-->
<%= render 'user_comments/user_comment_box' %>