<div id="user-comment-box">
  
  <div class="user-comment-form">
    <%#= form_for(@user_comment,:url => {controller:"user_comments", action:"create"}) do |f| %>
    <%= form_for(@user_comment) do |f| %>
      <!-- エラーメッセージ -->
      <%#= render 'shared/error_messages', object: f.object %>
      
      <%= f.hidden_field :product, :value => @product.id %>
      <%= f.text_area :comment, :size=>"70x6", class: 'form-control', autofocus: true %>
      <p></p>
      <%= f.submit "　送信する　", class: "btn btn-primary btn-sm" %>
      <button class="comment-box-close btn btn-danger btn-sm">キャンセル</button>
    <% end %>
  </div>
  
</div>