@import "bootstrap-sprockets";
@import "bootstrap";

.back-scroll-btn{
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color: rgba(0,0,0,1.0);
  span{
    color: #c0c0c0;
    font-size: 30px;
    text-decoration: none;
  }
}