@import "bootstrap-sprockets";
@import "bootstrap";

.back-scroll-btn{
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 20%;
  z-index: 2;
  span{
    color: #fff;
    font-size: 30px;
    text-decoration: none;
  }
}