@import "bootstrap-sprockets";
@import "bootstrap";

.reply-form{
  .reply-img{
    text-align: center;  
    img{
      border: 1px solid rgba( 0,0,0,0.1 );//外枠の色
      padding: 3px;//余白
      background-color: rgba( 128,128,128,0.1 );//余白部分の色
      
      max-width: 200px;
      max-height: 200px;  
    }
  }
  .img-btn{
    padding: 2px;
    width: 50px;
    margin-left:10px;
    .img-btn-icon{
      font-size: 25px;
    }
  }
  .reply-form-footer{
    text-align: right;
  }
}