@import "bootstrap-sprockets";
@import "bootstrap";

/*==========================================
 共通のスタイル
===========================================*/
aside.dev-mypage-left{
  margin-top: 10px;
}
.dev-profile{
  .profile-icon{
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
  }
  .profile-name{
    //font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 0px;
    word-break: break-all; //強制改行
    a:link { 
      color:#000; text-decoration:none 
    }
    a:visited { 
      color:#000; text-decoration:none 
    }
    a:hover { 
      color:#000; text-decoration:none 
    }
    a:active { 
      color:#000; text-decoration:none 
    }
  }
  .my-profile{
    font-size: 13px;
    //line-height: 0px;
    word-break: break-all; //強制改行
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .app-label{
    font-size: 12px;
    margin: 5px -15px;
    padding: 3px 10px;
  }
  .profile-website{
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 3px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .profile-email{
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 3px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .profile-sns{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    border: 0px solid #fff;
  }
  .profile-appicon{
    width: 40px;
    margin-left: -2px;
    margin-bottom: 2px;
    border-radius: 20%;
  }
}
/*=============================================
4.5インチスマホ向けのレイアウトの指定
===============================================*/
@media only screen and (min-width: 375px) {

}
/*=============================================
タブレット向けレイアウトの指定
===============================================*/
@media only screen and (min-width: 668px) {
  aside.dev-mypage-left{
    margin-top: 20px;
  }
  div.dev-mypage-center{
    margin-top: 20px;
  }
}
/*=============================================
PC向けレイアウトの指定：769px以上では固定レイアウト 
===============================================*/
@media only screen and (min-width: 769px) {
  div.dev-mypage-right{
    margin-top: 20px;
  }
  .dev-profile{
    .profile-sns{
      margin-top: 10px;
    }
  }
}