@import "bootstrap-sprockets";
@import "bootstrap";

//==============================
//利用規約・プライバシーポリシー
//==============================
div.txtTempSet{
	margin-bottom: 30px;
}

div.txtTempSet strong{
	display: block;
	font-weight: bold;
}

div.txtTemp1 strong{
  margin-bottom: 6px;
}

div.txtTemp1 span{
  color: #666;
}

.fL {
  float : left; display: block;
}
.fR {
  float : right; display: block;
}

.clear{
  display: block; clear:both; height:0;
}

/*//clearFix Coponents//*/
.clear {
  clear:both;
}

.clearfix{
  display:block;
} 

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
 
.clearfix:after {
	content: url(pixel.gif);
	display: block;
	clear: both;
	height: 0;
}

//==============================
//FAQ
//==============================
// Well書き換え
.faq{
  background-color: #f5f5f5;
  .well {
    width: 80%;
    //margin-left: auto;
    //min-height: 20px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-top: 30px;
    //margin-bottom: 40px;
    
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  .well-left{
    margin-right: auto;
  }
  .well-right{
    margin-left: auto;
  }
}

.question{
  font-size: 18px;
  font-style: italic;
  font-weight: bold; 
  color: #696969;
}
.answer{
  font-size: 15px;
  margin-left: 20px;
  color: #808080;
}
//==============================
//一般
//==============================
div.txtTemp2 span{
  color: #666;
  font-size: 15px;
  line-height: 25px;
}
