@import "bootstrap-sprockets";
@import "bootstrap";

/*==========================================
 スティッキーバー用
===========================================*/
.sticky-menu-bar {
  position: absolute;
  width: 97%;
  z-index:1;
}
.sticky-menu-bar.sticky {
  position: fixed;
  width: 97%;
  top: 10px;
  z-index:1;
}
/*==========================================
 共通のスタイル
===========================================*/
.floatbar-btn{
  font-size: 11px;
}
/*=============================================
4.5インチスマホ向けのレイアウトの指定
===============================================*/
@media only screen and (min-width: 375px) {
  .floatbar-btn{
    font-size: 13px;
  }
}
/*=============================================
タブレット向けレイアウトの指定
===============================================*/
@media only screen and (min-width: 668px) {
  .floatbar-btn{
    font-size: 15px;
  }
}
/*=============================================
PC向けレイアウトの指定：769px以上では固定レイアウト 
===============================================*/
@media only screen and (min-width: 769px) {
  .floatbar-btn{
    font-size: 15px;
  }
}
