@import "bootstrap-sprockets";
@import "bootstrap";

/*==========================================
 スティッキーバー用
===========================================*/
.sticky-search-bar {
  position: absolute;
  width: 100%;
  z-index:2;
}

.sticky-search-bar.sticky {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index:2;
}
/*==========================================
 共通のスタイル
===========================================*/
.float-search-bar {
  background: #000;
  height: 40px;
  ul.menu{
    list-style:none;
    padding: 0px;
    >li{
      border-right-style: double;
      border-right-color: #fff;
      line-height: 3.0em;
      text-align: center;
      float: left;
      width: 20%;
      >a {
        color: #fff;
        text-decoration: none;
        font-size:12px;
      }
    }
  }
  ul.sub-menu{
    a{
      color: #000;
      text-decoration: none;
      font-size:20px;
    }
  }
}
/*=============================================
4.5インチスマホ向けのレイアウトの指定
===============================================*/
@media only screen and (min-width: 375px) {
  
}
/*=============================================
タブレット向けレイアウトの指定
===============================================*/
@media only screen and (min-width: 668px) {
  .float-search-bar {
    ul.menu{
      >li{
        line-height: 3.0em;
        width: 20%;
        >a {
          font-size:15px;
        }
      }
    }
    ul.sub-menu{
      a{
        color: #000;
        text-decoration: none;
        font-size:20px;
      }
    }
  }
}
/*=============================================
PC向けレイアウトの指定：769px以上では固定レイアウト 
===============================================*/
@media only screen and (min-width: 769px) {
  .float-search-bar {
    ul.menu{
      >li{
        line-height: 3.0em;
        width: 20%;
        >a {
          font-size:18px;
        }
      }
    }
    ul.sub-menu{
      a{
        color: #000;
        text-decoration: none;
        font-size:15px;
      }
    }
  }
}

