@import "bootstrap-sprockets";
@import "bootstrap";

/*==========================================
 スティッキーフッター用
===========================================*/
.sticky-footer {
  position: static;
  width: 100%;
  //z-index:2;
}

.sticky-footer.sticky {
  position: fixed;
  width: 100%;
  top: 400px;
  //z-index:2;
}
/*==========================================
 共通のスタイル
===========================================*/
header {
  background:#FF6347;
  height:70px;
  .logo{
    color:#fff;
    font-size:15px;
    line-height: 2.0em;
    font-weight: bold;
    font-family: 'Georgia';
    font-style: italic;
    text-shadow: 5px 5px 0 rgba(0,0,0,.2);
    margin-left:5px;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .login-btn{
    float: right;
    margin: 0.5px 2.0px;
    .signup {
      line-height: 1.5em;
      color: #fff;
      text-decoration: none;
    }
  }
  .session-user{
    margin: 0px 10px;
    float: right;
    width: 200px;
    ul.user-menu{
      list-style: none;
      a.user-name {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        text-align: right;
        margin-top: 10px;
        display: block;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    ul.sub-menu{
      a{
        color: #000;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
  .profile_icon{
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 100%;
  }
}
footer{
  background:#000;
  height:100px;
  text-align:center;
  .copyright{
    color:#fff;
    font-size: 10px;
    line-height: 2.0em;
  }
}
/*=============================================
4.5インチスマホ向けのレイアウトの指定
===============================================*/
@media only screen and (min-width: 375px) {
  header {
    height:80px;
    .logo{
      font-size:20px;
      line-height: 2.0em;
      margin-left:10px;
    }
    .login-btn{
      margin: 1.0px 2.0px;
      .signup {
        line-height: 2.0em;
      }
    }
    .session-user{
      //margin: 0px 10px;
      ul.user-menu{
        a.user-name {
          margin-top: 12px;
          font-size: 15px;
        }
      }
      ul.sub-menu{
        a{
          font-size: 20px;
        }
      }
    }
  }
  footer{
    height:200px;
    .copyright{
      font-size: 15px;
      line-height: 2.0em;
    }
  }
  .sticky-footer.sticky {
    position: fixed;
    width: 100%;
    top: 400px;
    //z-index:2;
  }
}
/*=============================================
タブレット向けレイアウトの指定
===============================================*/
@media only screen and (min-width: 668px) {
  header {
    height:100px;
    .logo{
      font-size:30px;
      line-height: 2.0em;
      margin-left:20px;
    }
    .login-btn{
      margin: 10px 20px;
      .signup {
        line-height: 2.0em;
      }
    }
    .session-user{
      //margin: 15px 40px;
      width: 300px;
      ul.user-menu{
        a.user-name {
          width: 250px;
          margin-top: 25px;
          font-size: 20px;
        }
      }
      ul.sub-menu{
        a{
          font-size: 20px;
        }
      }
    }
  }
  footer{
    height:200px;
    .copyright{
      font-size: 15px;
      line-height: 2.0em;
    }
  }
  .sticky-footer.sticky {
    position: fixed;
    width: 100%;
    top: 770px;
    //z-index:2;
  }
}
/*=============================================
PC向けレイアウトの指定：769px以上では固定レイアウト 
===============================================*/
@media only screen and (min-width: 769px) {
  header {
    height:100px;
    .logo{
      font-size:30px;
      line-height: 3.0em;
      margin-left:20px;
    }
    .login-btn{
      margin: 10px 20px;
       .signup {
        line-height: 3.0em;
      }
    }
    .session-user{
      //margin: 25px 50px;
      width: 400px;
      ul.user-menu{
        a.user-name {
          width: 350px;
          margin-top: 25px;
          font-size: 20px;
        }
      }
      ul.sub-menu{
        a{
          font-size: 15px;
        }
      }
    }
  }
  footer{
    height:200px;
    .copyright{
      font-size: 15px;
      line-height: 2.0em;
    }
  }
  .sticky-footer.sticky {
    position: fixed;
    width: 100%;
    top: 600px;
    //z-index:2;
  }
}