@import "bootstrap-sprockets";
@import "bootstrap";

span.input-header{
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

span.require2{
  color: #ff0;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}
