@import "bootstrap-sprockets";
@import "bootstrap";

/*==========================================
 共通のスタイル
===========================================*/
div.product-profile{
  .app-icon{
    width: 60px;
    height: 60px;
    border-radius: 20%;
    float: left;
    margin-right: 10px;
  }
  .app-name{
    font-weight: bold;
    font-size: 15px;
    line-height: 0px;
    word-break: break-all; //強制改行
    a:link { 
      color:#000; text-decoration:none 
    }
    a:visited { 
      color:#000; text-decoration:none 
    }
    a:hover { 
      color:#000; text-decoration:none 
    }
    a:active { 
      color:#000; text-decoration:none 
    }
  }
  .app-summary{
    font-size: 13px;
    //line-height: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .app-price{
     
  }
  .app-store{
    float: right;
    //margin-top: -10px;
    margin-bottom: 2.5px;
    margin-right: 5px;
    max-width: 60px;
  }
  .app-sale-date{
    //margin-top: -10px;
    //margin-right: 5px;
    float: right;
    color: #00f;
  }
  .favorite{
    margin-top:30px
  }
  .favorite-count{
    font-size: 12px;
    float: right;
  }
}
/*=============================================
4.5インチスマホ向けのレイアウトの指定
===============================================*/
@media only screen and (min-width: 375px) {
  div.product-profile{
    .app-store{
      max-width: 70px;
    }
  }
}
/*=============================================
タブレット向けレイアウトの指定
===============================================*/
@media only screen and (min-width: 668px) {
  div.product-profile{
    .app-icon{
      width: 80px;
      height: 80px;
    }
    .app-store{
      max-width: 80px;
    }
  }
}
/*=============================================
PC向けレイアウトの指定：769px以上では固定レイアウト 
===============================================*/
@media only screen and (min-width: 769px) {
  div.product-profile{
    .app-icon{
      width: 100px;
      height: 100px;
    }
    .app-summary{
      font-size: 14px;
    }
    .app-store{
      max-width: 100px;
    }
  }
}