@import "bootstrap-sprockets";
@import "bootstrap";

span.input_label{
  color: #000;
  font-weight: bold;
  font-size: 13px;
}
span.require{
  color: #f00;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}
span.option{
  color: #00f;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}

.sns-btn {
  .login-btn{
    font-size:15px;
  }
  a:link { 
    color:#fff; text-decoration:none 
  }
  a:visited { 
    color:#fff; text-decoration:none 
  }
  a:hover { 
    color:#fff; text-decoration:none 
  }
  a:active { 
    color:#fff; text-decoration:none 
  }
}

.user-delete{
  color:#f00;
}

#disp{
  img{
    width: 100px;
    height: 100px;
    //border: 2px solid #fff;
    border-radius: 20%;
  }
}
