@import "bootstrap-sprockets";
@import "bootstrap";

/*==========================================
 共通のスタイル
===========================================*/
aside#category-nav{
  background-color: rgba(0,0,0,0.8);
  width: 200px;
  height: 800px;
  //top: 100px;
  left: -200px;
  position: absolute;
  z-index:1;
  .category{
    margin-top: 50px;
  }
  button{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    
    background-color: rgba(0,0,0,0.8);
    border-radius: 20%;
    display: block;
    position: fixed;
    top: 40%;
    left: -40px;
    width: 100px;
    height: 30px;
    color: #fff;
    margin: 0;
    padding: 0;
    border: none;
  }
  a{
    padding:0px;
    text-align: left;
  }
  img.side-bar-icon{
    width: 25px;
    border-radius: 20%;
    margin-left: 25px;
  }
}

/*=============================================
4.5インチスマホ向けのレイアウトの指定
===============================================*/
@media only screen and (min-width: 375px) {
  aside#category-nav{
    width: 200px;
    left: -200px;
  }
}

/*=============================================
タブレット向けレイアウトの指定
===============================================*/
@media only screen and (min-width: 668px) {
  aside#category-nav{
    width: 350px;
    left: -350px;
    height: 1300px;
    .category{
      margin-top: 70px;
    }
    img.side-bar-icon{
      width: 50px;
      border-radius: 20%;
      margin-left: 50px;
    }
  }
}
/*=============================================
PC向けレイアウトの指定：769px以上では固定レイアウト 
===============================================*/
@media only screen and (min-width: 769px) {
  aside#category-nav{
    width: 350px;
    left: -350px;
  }
}