@import "bootstrap-sprockets";
@import "bootstrap";

/*==========================================
 共通のスタイル
===========================================*/
aside.top-page-left{
  margin-top: 10px;
  //text-align:right;
}
div.top-page-right{
  //text-align:left;
}
.result-empty{
  display: block;
  text-align: center;
}
/*=============================================
4.5インチスマホ向けのレイアウトの指定
===============================================*/
@media only screen and (min-width: 375px) {

}
/*=============================================
タブレット向けレイアウトの指定
===============================================*/
@media only screen and (min-width: 668px) {
  aside.top-page-left{
    margin-top: 20px;
  }
  div.top-page-center{
    margin-top: 20px;
  }
}
/*=============================================
PC向けレイアウトの指定：769px以上では固定レイアウト 
===============================================*/
@media only screen and (min-width: 769px) {
  div.top-page-right{
    margin-top: 20px;
  }
}