@import "bootstrap-sprockets";
@import "bootstrap";

/*==========================================
 スティッキーフッター
===========================================*/
.footer-comment-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0px;
  background-color: #ccc;
  .input-comment{
    margin: 0 auto;
    width: 70%;
  }
}
/*==========================================
 コメントボックス
===========================================*/
.user-comment-form{

}
/*=============================================
4.5インチスマホ向けのレイアウトの指定
===============================================*/
@media only screen and (min-width: 375px) {
  
}
/*=============================================
タブレット向けレイアウトの指定
===============================================*/
@media only screen and (min-width: 668px) {
  .user-comment-form{

  }
}
/*=============================================
PC向けレイアウトの指定：769px以上では固定レイアウト 
===============================================*/
@media only screen and (min-width: 769px) {
  
}