<floatbar>
  <div class="sticky-menu-bar">
    <div class="btn-toolbar">
      <div class="btn-group btn-group-justified">
        <%= link_to product_path(@product), class:"btn btn-default" do %>
          <span class="glyphicon glyphicon-book">アプリ詳細</span>
        <% end %>
        <%= link_to user_comment_path(@product), class:"btn btn-default" do %>
          <span class="glyphicon glyphicon-comment">つぶやき</span>
        <% end %>
        <%= link_to "#", class:"btn btn-default" do %>
          <span class="glyphicon glyphicon-education">開発者コメ</span>
        <% end %>
      </div>
    </div>
  </div>
</floatbar>
