<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12" style="padding:0px;" ><!--定義されているPaddingを打ち消し-->
      
        <span class="copyright">
          Copyright © 2015 VirginTech LLC. All Rights Reserved.
        </span>
      
      </div>
    </div>
  </div>
</footer>